* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000;
}

.fullArea {
    width: 100%;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: 'Last Ninja', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    align-items: center;
}
.container {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}

.top{
    text-align: center;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.time {
    font-size: 150px;
    /* padding-bottom: 80px; */
    color: #f8f8f8;
    margin-top: 100px;
}

.time-button {
    margin-top: 80px;
}

.addCheck {
    text-align: center;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
    color: #ffffff;
}

.start,.stop,.reset {
    padding: 0.4rem 1rem;
    margin: 0 0.2rem;
    /* border-radius: 10px; */
    border: 1px solid #f8f8f8;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold;
}

.fullSizeBtn {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-size:15px;
    font-weight:bold;
    padding:10px 50px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-bottom: 30px;
    margin-top: 30px;
}

.fullSizeBtn:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
}

.fullSizeBtn:active {
    position:relative;
    top:1px;
}

.add {
    margin-top: 50px;
    margin-bottom: 50px;
}

.add_title {
    font-size: 18px;
}

.add_list {
    padding-bottom: 30px;
    padding-top: 30px;
}

.menu-wrap li {
    display: inline-block;
    background-color : #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}
.menu-wrap li.selected {
    background-color: #ffffff;
    color:#000000;
    font-weight: bold;
}

.menu-wrap li:hover {
    background-color: #ffffff;
    color:#000000;
    font-weight: bold;
}

.info {
    padding-top: 25px;
}

.info_title {
    font-size: 20px;
    margin-bottom: 25px;
}

.info_text {
    max-width: 420px;
    margin: 0 auto;
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
}

p {
    margin-bottom: 5px;
}

strong {
    color: #fff01f
}

.footer {
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #ffffff;
    padding: 25px 0;
    margin-top: 100px;
}

.header {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 10px 5px;
    margin-bottom: 80px;
}

.logo {
    margin-left: 30px;
}
 .logo img {
    width: 50px;
    filter: brightness(0) invert(1);
 }

 .logo_text {
    top: 25px;
    position: absolute;
    margin-left: 80px;
    font-size: 20px;
 }

 .logo_text b {
    padding-right : 3px;
 }

.lang_sel {
    cursor: pointer;
    right: 20px;
    margin-left: 0px;
    position: absolute;
    top: 25px;
}

.lang_sel img {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.line {
    width: 100%;
    border-top: 1px solid #ffffff;
    margin: 0 auto;
    padding-top: 25px;
}

@media screen and (max-width:767px) {
    .time { 
        font-size: 8rem;
    }
}

@media screen and (max-width:600px) {
    .container {
        max-width: 500px;
    }
    .time {
        font-size: 5.5rem; 
    }
}

@media screen and (max-width:380px) {
    .container {
        max-width: 350px;
    }
    .info_text {
        font-size: 13px;
    }
}
